<!-- <ul><li><a href="#">Paletas para ojos</a></li><li><a href="#">Macara de pestanas</a></li><li><a href="#">Delineador de ojos</a></li><li><a href="#">Cejas</a></li><li><a href="#">Sombras</a></li><li><a href="#">Primer de ojos</a></li><li><a href="#">Corrector para ojos</a></li><li><a href="#">Pestanas postizas</a></li><li><a href="#">Desmaquillante</a></li></ul> -->
<header class="major">
    <h3>Ojos-Mascara de pestanas</h3>

  </header>
  <div class="posts">
    
    <article>
      <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
      <h3>Interdum aenean</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
      <h3>Nulla amet dolore</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
      <h3>Tempus ullamcorper</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
      <h3>Sed etiam facilis</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
      <h3>Feugiat lorem aenean</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
      <h3>Amet varius aliquam</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
  </div>
  <header class="major">
    <h3>Ojos-Delineador</h3>

  </header>
  <div class="posts">
    
    <article>
      <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
      <h3>Interdum aenean</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
      <h3>Nulla amet dolore</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
      <h3>Tempus ullamcorper</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
      <h3>Sed etiam facilis</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
      <h3>Feugiat lorem aenean</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
      <h3>Amet varius aliquam</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
  </div>
  <header class="major">
    <h3>Cejas</h3>

  </header>
  <div class="posts">
    
    <article>
      <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
      <h3>Interdum aenean</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
      <h3>Nulla amet dolore</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
      <h3>Tempus ullamcorper</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
      <h3>Sed etiam facilis</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
      <h3>Feugiat lorem aenean</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
      <h3>Amet varius aliquam</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
  </div>
  <header class="major">
    <h3>Sombras</h3>

  </header>
  <div class="posts">
    
    <article>
      <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
      <h3>Interdum aenean</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
      <h3>Nulla amet dolore</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
      <h3>Tempus ullamcorper</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
      <h3>Sed etiam facilis</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
      <h3>Feugiat lorem aenean</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
      <h3>Amet varius aliquam</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
  </div>
  <header class="major">


    <h3>Ojos-Primer</h3>

  </header>
  <div class="posts">
    
    <article>
      <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
      <h3>Interdum aenean</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
      <h3>Nulla amet dolore</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
      <h3>Tempus ullamcorper</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
      <h3>Sed etiam facilis</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
      <h3>Feugiat lorem aenean</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
      <h3>Amet varius aliquam</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
  </div>
  <header class="major">
    <h3>Ojos-Corrector</h3>

  </header>
  <div class="posts">
    
    <article>
      <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
      <h3>Interdum aenean</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
      <h3>Nulla amet dolore</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
      <h3>Tempus ullamcorper</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
      <h3>Sed etiam facilis</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
      <h3>Feugiat lorem aenean</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
      <h3>Amet varius aliquam</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
  </div>
  <header class="major">
    <h3>Ojos-pestanas postizas</h3>

  </header>
  <div class="posts">
    
    <article>
      <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
      <h3>Interdum aenean</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
      <h3>Nulla amet dolore</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
      <h3>Tempus ullamcorper</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
      <h3>Sed etiam facilis</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
      <h3>Feugiat lorem aenean</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
      <h3>Amet varius aliquam</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
  </div>
  <header class="major">
    <h3>Ojos-Desmaquillante</h3>

  </header>
  <div class="posts">
    
    <article>
      <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
      <h3>Interdum aenean</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
      <h3>Nulla amet dolore</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
      <h3>Tempus ullamcorper</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
      <h3>Sed etiam facilis</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
      <h3>Feugiat lorem aenean</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
      <h3>Amet varius aliquam</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
  </div>